<template>
  <b-col cols="12" md="6" lg="4" xl="3" class="mb-5">
    <b-card class="account-card" @click="open_account($event)">
      <div class="meta d-flex justify-content-between">
        <h6 class="currency">{{ name }}</h6>
        <h6 class="name">{{ accountId }}</h6>
      </div>
      <h1 class="total">
        {{ $utils.format_price(balance.amount, currencySign) }}
      </h1>
      <div class="actions d-flex flex-wrap">
        <b-button variant="outline-primary" size="sm" class="mb-1 text-left" block @click="$nuxt.$emit('MODAL_DEPOSIT', { _id, currencySign, currency })">Пополнить счет</b-button>
        <b-button variant="outline-primary" size="sm" class="text-left" block @click="$nuxt.$emit('MODAL_TRANSFER', { _id, currencySign, currency, balance })">Перевести средства</b-button>
      </div>
    </b-card>
  </b-col>
</template>

<script>
export default {
  props: ["_id", "balance", "currencySign", "currency", "name", "accountId"],
  methods: {
    open_account(e) {
      if (e.target.nodeName !== 'BUTTON') {
        this.$router.push(`/accounts/${this._id}`)
      }
    }
  },
};
</script>

<style lang="scss" scoped>
.account-card {
  background: #ffffff;
  box-shadow: 0px 0px 14px 6px rgba(104, 165, 221, 0.2);
  border-radius: .5rem;
  cursor: pointer;

  .meta {
    color: #5d6578;
  }

  .total {
    background: #e3f5ff;
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 4px 8px 3px;
    color: rgba(0, 99, 255, 0.85);
  }
}
</style>