<template>
  <div class="btn">{{ text }}</div>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      default: "Button text",
    },
  },
};
</script>

<style lang="scss" scoped>
.btn {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #5480bb;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  color: #5480bb;
  padding: 6px 10px 5px;
  cursor: pointer;
  transition: all 0.1s ease;

  &:hover {
      background-color: #5480BB;
      color: #ffffff;
  }
}
</style>