<template>
  <div class="history-card p-3">
    <div class="left">
      <span class="date mb-3">
        <div :class="['icon d-flex justify-content-center align-items-center', {'done': status === 2}, {'cancel': status === -1}, {'process': status === 1}]">
          <i v-if="status === 2" class="mdi mdi-check d-flex justify-content-center align-items-center" aria-hidden="true"></i>
          <i v-if="status === -1" class="mdi mdi-close d-flex justify-content-center align-items-center" aria-hidden="true"></i>
          <i v-if="status === 1" class="mdi mdi-history d-flex justify-content-center align-items-center" aria-hidden="true"></i>
        </div>
        {{
        $moment(startDate).format("DD.MM.YYYY")
      }}</span>
      <h4 class="value mb-0">
        <span :class="checkType(parent) ? 'plus' : 'minus'">{{
          checkType(parent) ? "+" : "-"
        }}</span>
        {{ $utils.format_price(amount.amount, currencySign || amount.currency) }}
      </h4>
    </div>
    <div class="right">
      <div class="id mb-2">{{ cryptoAddress || "" }}</div>
      <div class="text p-1" v-if="note">Тестовое примечание к транзакции</div>
    </div>
  </div>
</template>

<script>
export default {
  props: [
    "_id",
    "parent",
    "amount",
    "currencySign",
    "startDate",
    "type",
    "senderCredentials",
    "receiverCredentials",
    "cryptoAddress",
    "note",
    "status"
  ],
  methods: {
    checkType(id) {
      if (
        this.senderCredentials.account &&
        id === this.senderCredentials.account
      ) {
        return false;
      } else if (id === this.receiverCredentials.account) {
        return true;
      } else {
        return false;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.history-card {
  display: flex;
  justify-content: space-between;
  background: #f9fafc;
  border: 1px dashed #e6e7e9;
  box-sizing: border-box;
  border-radius: 4px;

  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .right {
    align-items: flex-end;
  }

  .date {
    position: relative;
    display: block;
    color: #5d6578;
    padding-left: 30px;

    .icon {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%) scale(.75);
      transform-origin: left;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #fff;
        color: #fff;

      &.cancel {
        background-color: rgba(231, 76, 60, 0.9);
      }

      &.done {
        background-color: rgba(40, 193, 110, 0.9);
      }

      &.process {
        background-color: rgba(231, 163, 60, 0.9);

        i {
          transform: translateX(-1px);
          transform-origin: center;
        }
      }
    }
  }

  .value {
    color: #5d6578;

    span {
      font-weight: bold;
      &.plus {
        color: #28c16e;
      }
      &.minus {
        color: #ff3737;
      }
    }
  }

  .id {
    color: rgba(93, 101, 120, 0.75);
  }

  .text {
    display: inline-block;
    background: #e3f5ff;
    border-radius: .25rem;
    color: #0063ff;
  }
}
</style>