<template>
  <div class="messages">
    <div class="list pl-4 pt-4 pr-4 pb-2">
      <div class="message pb-4" v-for="(message, i) in messages" :key="i">
        <b-row align-v="center">
          <b-col cols="2">
            <div :class="['icon d-flex justify-content-center', { 'success': success }, { 'error': error }]">
              <i v-if="success" class="mdi mdi-check" aria-hidden="true"></i>
              <i v-if="error" class="mdi mdi-close" aria-hidden="true"></i>
            </div>
          </b-col>
          <b-col cols="10">
            <h5 class="text m-0">{{ message.text }}</h5>
          </b-col>
        </b-row>
      </div>
    </div>
    <div class="bottom-controls d-flex justify-content-center mt-4">
        <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    error: {
      type: Boolean,
      default: false,
    },
    success: {
      type: Boolean,
      default: false,
    },
    messages: {
      type: Array,
      default: () => [],
    },
  },
};
</script>

<style lang="scss" scoped>
.list {
  background: #f9fafc;
  box-shadow: 0px 0px 45px 9px rgba(104, 165, 221, 0.2);
  border-radius: 0.5rem;

  .message {
    .icon {
      /deep/ .mdi::before {
        font-size: 64px;
        line-height: 64px;
      }

      &.error {
          color: #E74C3C;
      }

      &.success {
          color: #4CAF50;
      }
    }

    .text {
        color: #7D95B6;
    }
  }
}
</style>