<template>
  <v-card class="invoice ml-auto mr-auto p-4">
    <!-- Не авторизованный юзер -->
    <div class="is-noauth" v-if="!isuser">
      <h5 class="mb-3">Моментальная регистрация и оплата</h5>
      <h6>К оплате</h6>
      <h1 class="total">
        {{ $utils.format_price(amount, currencySign || currency) }}
      </h1>
      <b-row v-if="exists === null">
        <b-col cols="12">
          <b-form-input
            class="mb-3"
            type="email"
            v-model="$v.email.$model"
            placeholder="E-mail"
            required
          ></b-form-input>
        </b-col>
      </b-row>
      <b-row v-if="exists !== null && exists">
        <b-col cols="12">
          <b-form-input
            class="mb-3"
            type="email"
            v-model="$v.email.$model"
            placeholder="E-mail"
            required
          ></b-form-input>
        </b-col>
        <b-col cols="12">
          <b-form-input
            class="mb-3"
            type="password"
            v-model="password"
            placeholder="Пароль"
            required
          ></b-form-input>
        </b-col>
      </b-row>
      <b-row v-if="exists !== null && !exists">
        <b-col cols="12">
          <b-form-input
            class="mb-3"
            type="email"
            v-model="$v.email.$model"
            placeholder="E-mail"
            required
          ></b-form-input>
        </b-col>
        <b-col cols="6">
          <b-form-input
            class="mb-3"
            type="text"
            v-model="$v.first_name.$model"
            placeholder="Имя"
            required
          ></b-form-input>
        </b-col>
        <b-col cols="6">
          <b-form-input
            class="mb-3"
            type="text"
            v-model="$v.last_name.$model"
            placeholder="Фамилия"
            required
          ></b-form-input>
        </b-col>
        <b-col cols="12">
          <label class="checkbox">
            <input type="checkbox" v-model="rules" />
            <div class="icon"></div>
            <span>Согласен на любые <u>условия</u></span>
          </label>
        </b-col>
        <b-col cols="12">
          <b-form-text>Пароль будет выслан на ваш E-mail.</b-form-text>
        </b-col>
      </b-row>
      <div class="d-flex justify-content-end mt-2">
        <b-button
          class="pr-0"
          variant="link"
          @click="check_user()"
          v-if="exists === null"
          >Продолжить</b-button
        >
        <b-button
          class="pr-0"
          variant="link"
          @click="login()"
          v-if="exists !== null && exists"
          >Продолжить</b-button
        >
        <b-button
          class="pr-0"
          variant="link"
          @click="register()"
          v-if="exists !== null && !exists"
          >Продолжить</b-button
        >
      </div>
    </div>
    <!-- Авторизованный юзер -->
    <div class="is-auth" v-else>
      <h5 class="mb-2">Пополнение счета</h5>
      <h1 class="total">
        {{ $utils.format_price(amount, currencySign || currency) }}
      </h1>
      <b-form-text class="mb-3" id="amount-help"
        >После пополнения счета, средства будут <br />переведены
        продавцу</b-form-text
      >
      <b-form-input
        class="mb-3 input"
        type="text"
        v-model="account.accountId"
        disabled
      ></b-form-input>
      <b-form-text id="amount-help"
        >Текущий баланс счета
        {{
          $utils.format_price(account.balance.amount, currencySign || currency)
        }}</b-form-text
      >
      <div class="d-flex justify-content-end mt-2">
        <b-button class="pr-0" variant="link" @click="pay()">К оплате</b-button>
      </div>
    </div>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { required, email } from "vuelidate/lib/validators";

export default {
  props: ["amount", "currency", "currencySign", "order", "isuser"],
  data() {
    return {
      account: {},
      email: "",
      password: null,
      exists: null,
      rules: false,
      first_name: "",
      last_name: "",
    };
  },
  validations() {
    if (this.exists === null) {
      return {
        email: {
          required,
          email,
        },
      };
    } else if (this.exists !== null && this.exists) {
      return {
        email: {
          required,
          email,
        },
        password: {
          required,
        },
      };
    } else if (this.exists !== null && !this.exists) {
      return {
        email: {
          required,
          email,
        },
        first_name: {
          required,
        },
        last_name: {
          required,
        },
      };
    }
  },
  computed: {
    ...mapGetters({
      get_account: "accounts/get_account",
    }),
  },
  methods: {
    ...mapActions({
      pay_invoice: "accounts/PAY_INVOICE",
      check_email: "user/CHECK_USER",
      register_express: "user/REGISTER_EXPRESS_USER",
      login_user: "user/LOGIN_USER",
    }),
    pay() {
      this.pay_invoice(this.order)
        .then(() => {
          this.$router.push({
            name: "invoice-id-success",
            params: { id: this.order },
          });
        })
        .catch(() => {
          this.$router.push(`/invoice/${this.order}/fail`);
        });
    },
    check_user() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.$notify({
          group: "logs",
          text: "Пожалуйста, укажите корректные данные",
        });
      } else {
        this.check_email(this.email).then((res) => (this.exists = res));
      }
    },
    login() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.$notify({
          group: "logs",
          text: "Пожалуйста, укажите корректные данные",
        });
      } else {
        this.login_user({
          email: this.email,
          password: this.password,
        }).then(() => {
          this.$nuxt.$emit("UPDATE_AUTH");
        });
      }
    },
    register() {
      if (this.$v.$invalid) {
        this.$notify({
          group: "logs",
          text: "Пожалуйста, укажите корректные данные",
        });
      } else {
        if (this.rules) {
          this.register_express({
            email: this.email,
            first_name: this.first_name,
            last_name: this.last_name,
          }).then(() => {
            this.$nuxt.$emit("UPDATE_AUTH");
          });
        } else {
          this.$notify({
            group: "logs",
            text: "Пожалуйста, подтвердите согласие с условиями",
          });
        }
      }
    },
  },
  created() {
    this.account = this.get_account(this.currency);
  },
};
</script>

<style lang="scss" scoped>
.invoice {
  display: block;
  background: #f9fafc;
  box-shadow: 0px 0px 45px 9px rgba(104, 165, 221, 0.2);
  border-radius: 0.5rem;

  h5 {
    color: #4b4b4b;
  }

  .total {
    background: #e3f5ff;
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 4px 8px 3px;
    color: rgba(0, 99, 255, 0.85);
    white-space: nowrap;
  }

  .input {
    pointer-events: none;
  }
}
</style>