<template>
  <b-modal
    id="modal-deposit"
    centered
    title="Пополнить счет"
    ok-title="Оплатить"
    ok-only
    ok-variant="link"
    @ok="pay($event)"
  >
    <template #modal-header-close>
      <i class="mdi mdi-close" aria-hidden="true"></i>
    </template>
    <b-button-group class="special">
      <b-button
        :class="['font-weight-bold', type === 0 ? 'active-btn' : '']"
        @click="type = 0"
        >Банковской картой</b-button
      >
      <b-button
        :class="['font-weight-bold', type === 1 ? 'active-btn' : '']"
        @click="type = 1"
        >Со счета Modern</b-button
      >
    </b-button-group>
    <div class="pt-4" v-if="type === 0">
      <b-form-input
        id="amount"
        type="number"
        v-model="amount"
        placeholder="Укажите сумму"
      ></b-form-input>
      <b-form-text id="amount-help" v-if="amount"
        >К оплате {{ $utils.format_price(parseInt(amount * 100)) }}
        {{ currencySign || currency }}</b-form-text
      >
    </div>
    <div class="pt-4" v-if="type === 1">
      <b-form-select v-model="exchangeFrom" class="mb-4">
        <b-form-select-option :value="null" disabled
          >Выберите счет</b-form-select-option
        >
        <b-form-select-option
          v-for="item in exchange"
          :key="item._id"
          :value="item._id"
          >{{ item.accountId }} ({{ $utils.format_price(item.balance, item.currencySign || item.currency) }})</b-form-select-option
        >
      </b-form-select>
      <b-form-input
        id="amount"
        type="number"
        v-model="amount"
        placeholder="Укажите сумму"
      ></b-form-input>
      <b-form-text id="amount-help" v-if="amount"
        >К оплате {{ $utils.format_price(parseInt(amount * 100)) }}
        {{ currencySign || currency }}</b-form-text
      >
    </div>
  </b-modal>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      type: 0,
      amount: null,
      id: null,
      exchange: [],
      exchangeFrom: null,
      currencySign: null,
      currency: null,
    };
  },
  mounted() {
    this.$nuxt.$on("MODAL_DEPOSIT", (data) => {
      this.$bvModal.show("modal-deposit");
      this.exchangeFrom = null;
      this.id = data._id;
      this.currencySign = data.currencySign;
      this.currency = data.currency;
      this.get_exchange(data._id).then((res) => {
        this.exchange = res;
      });
    });
  },
  methods: {
    pay(e) {
      e.preventDefault();
      if (this.type === 0) {
        if (this.amount !== null) {
          this.pay_deposit({
            id: this.id,
            amount: this.amount,
          }).then((res) => {
            // this.$bvModal.hide("modal-deposit");
            window.location.assign(res.formUrl);
          });
        } else {
          this.$notify({
            group: "logs",
            text: "Пожалуйста, укажите сумму пополнения",
          });
        }
      } else {
        if (this.exchangeFrom !== null) {
          if (this.amount !== null) {
            this.transfer({
              from: this.exchangeFrom,
              to: this.id,
              amount: this.amount,
            }).then((res) => {
              this.$bvModal.hide("modal-deposit");
              this.$nuxt.$emit("UPDATE_ACCOUNT");
              this.$notify({ group: "logs", text: "Счет успешно пополнен" });
            });
          } else {
            this.$notify({
              group: "logs",
              text: "Пожалуйста, укажите сумму пополнения",
            });
          }
        } else {
          this.$notify({
            group: "logs",
            text: "Пожалуйста, выберите счет для пополнения",
          });
        }
      }
    },
    ...mapActions({
      set_active: "accounts/CHANGE_ACTIVE",
      pay_deposit: "accounts/PAY",
      get_exchange: "accounts/GET_EXCHANGE_ACCOUNTS",
      transfer: "accounts/TRANSFER",
    }),
  },
};
</script>

<style lang="scss" scoped>
.tabs {
  .controls {
    border: 1px solid #5480bb;
    border-radius: 4px;
    display: flex;
    height: 24px;

    .tab-control {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      font-weight: bold;
      font-size: 11px;
      line-height: 13px;
      text-align: center;
      color: #5480bb;
      cursor: pointer;

      &.active {
        background-color: #5480bb;
        color: #ffffff;
      }
    }
  }

  .tab {
    &.card {
      padding: 30px 0 44px;
    }
    &.modern {
      padding: 17px 0 28px;
    }
  }

  .controls-modal {
    display: flex;
    justify-content: flex-end;

    .control {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #5d6578;
      cursor: pointer;
    }
  }

  .input {
    position: relative;
    display: block;

    span {
      display: block;
      font-weight: 300;
      font-size: 10px;
      line-height: 12px;
      color: #5d6578;
      position: absolute;
      top: 100%;
      left: 0;
      transform: translate(18px, 5px);
    }
  }

  select {
    margin-bottom: 17px;
  }
}

/deep/ .btn-group.special {
  display: flex;
}

/deep/ .special .btn {
  flex: 1;
  background-color: #fff;
  color: #5480bb;
  border-color: #5480bb;
  border-width: 2px;

  &.active-btn {
    background-color: #5480bb;
    color: #ffffff;
  }
}
</style>