<template>
  <b-modal
    id="modal-transfer"
    centered
    title="Перевод средств"
    ok-title="Оплатить"
    ok-only
    ok-variant="link"
    @ok="pay($event)"
  >
    <template #modal-header-close>
      <i class="mdi mdi-close" aria-hidden="true"></i>
    </template>
    <b-form-input
      class="mb-4"
      id="to"
      type="text"
      v-model="to"
      placeholder="Счет получателя"
    ></b-form-input>
    <b-form-input
      id="amount"
      type="number"
      v-model="amount"
      placeholder="Укажите сумму"
    ></b-form-input>
    <b-form-text id="amount-help" v-if="amount"
      >К оплате {{ $utils.format_price(parseInt(amount * 100)) }}
      {{ currencySign || currency }}</b-form-text
    >
    <b-form-textarea
      class="mt-4"
      id="comment"
      v-model="note"
      placeholder="Примечание к переводу"
      rows="3"
    ></b-form-textarea>
  </b-modal>
</template>

<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      amount: "",
      id: null,
      to: "",
      note: "",
      currencySign: null,
      currency: null,
      balance: null,
    };
  },
  mounted() {
    this.$nuxt.$on("MODAL_TRANSFER", (data) => {
      this.$bvModal.show("modal-transfer");
      this.id = data._id;
      this.currencySign = data.currencySign;
      this.currency = data.currency;
      this.balance = data.balance;
    });
  },
  methods: {
    pay(e) {
      e.preventDefault();
      if (this.balance.amount < this.amount) {
        this.$notify({
          group: "logs",
          text: "Недостаточно средств на счете",
        });
      } else if (
        this.to !== "" &&
        this.amount !== "" &&
        this.balance.amount >= this.amount
      ) {
        this.transfer({
          from: this.id,
          to: this.to,
          amount: this.amount,
        }).then((res) => {
          if (typeof res["err"] !== "undefined") {
            this.$notify({
              group: "logs",
              text: "Пожалуйста, проверьте реквизиты перевода",
            });
          } else {
            this.$bvModal.hide("modal-transfer");
            this.$notify({
              group: "logs",
              text: "Перевод выполнен",
            });
            this.$nuxt.$emit("UPDATE_ACCOUNT");
            this.clear_data();
          }
        });
      } else {
        this.$notify({
          group: "logs",
          text: "Пожалуйста, укажите счет получателя и сумму перевода",
        });
      }
    },
    clear_data() {
      this.amount = "";
      this.id = null;
      this.to = "";
      this.note = "";
      this.currencySign = null;
      this.currency = null;
      this.balance = null;
    },
    ...mapActions({
      transfer: "accounts/TRANSFER",
    }),
  },
};
</script>

<style lang="scss" scoped>
.tabs {
  .controls {
    border: 1px solid #5480bb;
    border-radius: 4px;
    display: flex;
    height: 24px;

    .tab-control {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      font-weight: bold;
      font-size: 11px;
      line-height: 13px;
      text-align: center;
      color: #5480bb;
      cursor: pointer;

      &.active {
        background-color: #5480bb;
        color: #ffffff;
      }
    }
  }

  .tab {
    &.card {
      padding: 30px 0 44px;
    }
    &.modern {
      padding: 17px 0 28px;
    }
  }

  .controls-modal {
    display: flex;
    justify-content: flex-end;

    .control {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #5d6578;
      cursor: pointer;
    }
  }

  .input {
    position: relative;
    display: block;

    &:nth-child(1) {
      margin-bottom: 17px;
    }

    &:nth-child(3) {
      margin: 27px 0 23px;
    }

    span {
      display: block;
      font-weight: 300;
      font-size: 10px;
      line-height: 12px;
      color: #5d6578;
      position: absolute;
      top: 100%;
      left: 0;
      transform: translate(18px, 5px);
    }
  }
}
</style>