<template>
  <div class="login">
    <landing-form login />
  </div>
</template>

<script>
export default {
  middleware: 'auth'
};
</script>

<style lang="scss" scoped>
.login {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(90deg, #ebedee 0%, #fdfbfb 100%);
}
</style>