<template>
  <b-container>
    <div
      class="panel mb-4 p-4 d-flex justify-content-between align-items-start"
    >
      <div class="main-info">
        <p class="mb-2">{{ data.account.name }}</p>
        <h1 class="total">
          {{
            $utils.format_price(
              data.account.balance.amount,
              data.account.currencySign
            )
          }}
        </h1>
        <div class="main-actions d-flex">
          <b-button
            variant="outline-primary"
            size="sm"
            class="mr-2 text-left"
            @click="
              $nuxt.$emit('MODAL_DEPOSIT', {
                _id: data.account._id,
                currencySign: data.account.currencySign,
                currency: data.account.currency,
              })
            "
            >Пополнить счет</b-button
          >
          <b-button
            variant="outline-primary"
            size="sm"
            class="text-left"
            @click="
              $nuxt.$emit('MODAL_TRANSFER', {
                _id: data.account._id,
                currencySign: data.account.currencySign,
                currency: data.account.currency,
              })
            "
            >Перевести средства</b-button
          >
        </div>
      </div>
      <div class="main-controls d-flex">
        <b-button
          size="sm"
          v-if="data.account.cryptoAddress"
          v-clipboard:copy="data.account.cryptoAddress"
          @click="copy_text()"
          ><i class="mdi mdi-content-copy" aria-hidden="true"></i>
          {{ data.account.cryptoAddress }}</b-button
        >
        <b-button size="sm" v-clipboard:copy="data.account.accountId" @click="copy_text()"
          ><i class="mdi mdi-content-copy" aria-hidden="true"></i>
          {{ data.account.accountId }}</b-button
        >
      </div>
    </div>
    <div class="panel pl-4 pt-4 pr-4 pb-0 mb-4">
      <history-card
        class="mb-4"
        v-for="item in history.transactions"
        :key="item._id"
        v-bind="item"
        :currency="data.account.currency"
        :parent="data.account._id"
      />
    </div>
  </b-container>
  <!-- <div class="container">
    <div class="panel info">
      <div class="inner">
        <span class="name">{{ data.account.name }}</span>
        <div class="total">
          {{
            $utils.format_price(
              data.account.balance.amount,
              data.account.currencySign
            )
          }}
        </div>
        <div class="actions">
          <btn
            text="Пополнить счет"
            @click.native="$nuxt.$emit('OPEN_DEPOSIT_MODAL', data.account._id)"
          />
          <btn
            text="Перевести средства"
            @click.native="$nuxt.$emit('OPEN_TRANSFER_MODAL', data.account._id)"
          />
        </div>
      </div>
      <div class="controls">
        <div
          class="copy"
          v-clipboard:copy="data.account.cryptoAddress || 'empty'"
        >
          {{ data.account.cryptoAddress || "empty" }}
        </div>
        <div class="copy" v-clipboard:copy="data.account.accountId">
          {{ data.account.accountId }}
        </div>
      </div>
    </div>
    <div class="panel history">
      <history-card
        v-for="item in history.transactions"
        :key="item._id"
        v-bind="item"
        :currency="data.account.currency"
        :parent="data.account._id"
      />
    </div>
  </div> -->
</template>

<script>
export default {
  async asyncData({ $axios, params }) {
    const data = await $axios.$get(`/api/app/account/${params.id}`);
    const id = params.id
    const history = await $axios.$get(
      `/api/app/account/${params.id}/transaction`
    );
    return { data, history, id };
  },
  mounted () {
    this.$nuxt.$on('UPDATE_ACCOUNT', () => {
      this.update_account()
    });
  },
  methods: {
    async update_account() {
      this.data = await this.$axios.$get(`/api/app/account/${this.id}`);
      this.history = await this.$axios.$get(`/api/app/account/${this.id}/transaction`);
    },
    copy_text() {
      this.$notify({
          group: "logs",
          text: "Текст скопирован",
        });
    }
  },
  middleware: "noauth",
};
</script>

<style lang="scss" scoped>
.container {
  padding-top: 25px;

  .panel {
    position: relative;
    background: #ffffff;
    border: 1px solid #e6e7e9;
    box-sizing: border-box;
    border-radius: 0.5rem;

    .total {
      display: inline-block;
      background: #e3f5ff;
      border-radius: 4px;
      margin-bottom: 16px;
      padding: 4px 8px 3px;
      color: rgba(0, 99, 255, 0.85);
    }

    &.info {
      padding: 14px 18px 18px;

      .inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .name {
          display: block;
          font-size: 14px;
          line-height: 16px;
          color: #4b4b4b;
          margin-bottom: 10px;
        }

        .total {
          background: #e3f5ff;
          border-radius: 4px;
          padding: 4px 26px 3px 8px;
          font-size: 32px;
          line-height: 37px;
          color: rgba(0, 99, 255, 0.85);
          margin-bottom: 10px;
        }

        .actions {
          display: flex;

          /deep/ .btn {
            &:not(:last-child) {
              margin-right: 16px;
            }
          }
        }
      }

      .controls {
        position: absolute;
        top: 12px;
        right: 14px;
        display: flex;
        .copy {
          display: flex;
          align-items: center;
          background: rgba(178, 178, 178, 0.22);
          border-radius: 6px;
          font-size: 11px;
          line-height: 13px;
          color: rgba(0, 0, 0, 0.56);
          padding: 5px 7px 6px;
          cursor: pointer;

          &:not(:last-child) {
            margin-right: 14px;
          }

          &::before {
            content: "";
            width: 13px;
            height: 13px;
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACaSURBVHgB1dKxCoJQFMbxYzhFTUFb0RDVC7T0JG09RA/TFr1D71Br0NYYjQkOIrio/4sKcjwguvnBD+V4v8VzPSmyxk7s/PCqD/zyeUSA2CgFelCVxrggwhKeOrdBgi8yX308YYW/NLPAFW9dmuKOp1E6Y+JeRtIjAyndxNhHW+kjHaJ/uVvuAVvj7EzKG6M3P8femLuEeCDNAcrRFsPnKz/OAAAAAElFTkSuQmCC");
            display: block;
            margin-right: 5px;
          }
        }
      }
    }

    &.history {
      padding: 22px;

      /deep/ .history-card {
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }
  }
}
</style>