<template>
  <b-container class="accounts">
    <b-row>
      <account-card
        v-for="account in list"
        :key="account._id"
        v-bind="account"
      />
    </b-row>
  </b-container>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  middleware: 'noauth',
  computed: {
    ...mapGetters({
      list: "accounts/list",
    }),
  },
  methods: {
    ...mapActions({
      get_accounts: "accounts/GET_ALL_ACCOUNTS",
    }),
  },
  created () {
    this.get_accounts()
  },
};
</script>

<style lang="scss" scoped>
.accounts {
  padding-top: 90px;
}
</style>