<template>
  <div class="home">
    <div class="container">
      <div class="inner">
        <h1>SmartPayments</h1>
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="controls">
          <btn-big @click.native="$router.push('/register')" text="Регистрация" />
          <btn-big @click.native="$router.push('/login')" text="Вход" />
        </div>
      </div>
      <div class="image no-control">
        <img
          :src="require('@/assets/upload/wallet.png')"
          :srcset="require('@/assets/upload/wallet@2x.png') + ' 2x'"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware: 'auth'
};
</script>

<style lang="scss">
.home {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(90deg, #ebedee 0%, #fdfbfb 100%);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .inner {
    max-width: 385px;

    h1 {
      font-family: $montserrat;
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      color: #3975c7;
      margin: 0 0 11px;
    }

    .lead {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #3975c7;
      margin: 0 0 33px;
    }

    .controls {
      display: flex;

      /deep/ .btn-big {
        &:not(:last-child) {
          margin-right: 25px;
        }
      }
    }
  }

  .image {
    transform: translateY(-22px);
    img {
      display: block;
    }
  }
}
</style>
