<template>
  <div class="menu">
    <b-container>
      <b-navbar variant="faded" type="light">
        <b-navbar-brand class="logo" to="/accounts">Modern</b-navbar-brand>
        <b-navbar-nav v-if="auth">
          <b-nav-item class="pr-2" to="/accounts"><b-button class="d-lg-none" variant="link"><i class="mdi mdi-view-list-outline" aria-hidden="true" /></b-button><span class="d-none d-lg-block">Список счетов</span></b-nav-item>
          <b-nav-item class="pr-2" to="/history"><b-button class="d-lg-none" variant="link"><i class="mdi mdi-history" aria-hidden="true" /></b-button><span class="d-none d-lg-block">История транзакций</span></b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav v-if="auth" class="ml-auto">
          <b-nav-text class="pr-2 d-none d-md-block">{{ email }}</b-nav-text>
          <b-button variant="link" class="exit" @click="user_logout()"
            ><i class="mdi mdi-exit-to-app d-lg-none" aria-hidden="true" /><span class="d-none d-lg-block">Выход</span></b-button
          >
        </b-navbar-nav>
      </b-navbar>
    </b-container>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  computed: {
    ...mapGetters({
      email: "user/email",
      auth: "user/auth",
    }),
  },
  methods: {
    user_logout() {
      this.logout();
      this.$router.push("/");
    },
    ...mapActions({
      logout: "user/LOGOUT_USER",
    }),
  },
};
</script>

<style lang="scss" scoped>
.menu {
  border-bottom: 1px solid #e6e7e9;
  background: #ffffff;

  .logo {
    font-family: $montserrat;
    color: #3975c7;

    &:hover,
    &:active {
      color: #3975c7;
    }
  }

  /deep/ .navbar-light .navbar-nav .nav-link {
    color: #7d95b6;

    &.nuxt-link-active {
      font-weight: 500;
    }
  }

  .exit {
    color: #7d95b6;
    font-weight: 500 !important;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}
</style>