<template>
  <b-container class="history pt-4 pb-4">
    <b-row>
      <b-col cols="12">
        <b-card>
          <history-card class="mb-4" v-for="item in history.transactions" :key="item._id" v-bind="item" />
        </b-card>
      </b-col>
    </b-row>
  </b-container>
  <!-- <div class="container">
    <div class="history">
      <history-card />
      <history-card />
      <history-card />
      <history-card />
    </div>
  </div> -->
</template>

<script>
export default {
  async asyncData({ $axios }) {
    const history = await $axios.$get(`/api/app/transaction`);
    return { history };
  },
  middleware: "noauth",
};
</script>

<style lang="scss" scoped>
</style>