<template>
  <button class="btn-big">{{ text }}</button>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      default: "Button text",
    },
  },
};
</script>

<style lang="scss" scoped>
.btn-big {
  display: inline-block;
  background: rgba(84, 128, 187, 0.5);
  border-radius: 90px;
  padding: 13px 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  appearance: none;
  border: none;
  cursor: pointer;

  &:focus,
  &:active {
    outline: none;
  }
}
</style>