<template>
  <div class="container">
    <div class="inner" v-if="login">
      <h1>Вход</h1>
      <b-form @submit="login_user($event)">
        <b-form-input
          v-model="$v.email.$model"
          type="email"
          placeholder="E-mail"
        ></b-form-input>
        <b-form-input
          v-model="$v.password.$model"
          type="password"
          placeholder="Пароль"
        ></b-form-input>
        <b-button pill type="submit" variant="system">Войти</b-button>
      </b-form>
    </div>
    <div class="inner" v-if="register">
      <h1>Регистрация</h1>
      <b-form @submit="register_user($event)">
        <b-form-input
          v-model="$v.first_name.$model"
          type="text"
          placeholder="Имя"
        ></b-form-input>
        <b-form-input
          v-model="$v.last_name.$model"
          type="text"
          placeholder="Фамилия"
        ></b-form-input>
        <b-form-input
          v-model="$v.email.$model"
          type="email"
          placeholder="E-mail"
        ></b-form-input>
        <label class="checkbox">
          <input type="checkbox" v-model="rules" />
          <div class="icon"></div>
          <span>Согласен на любые <u>условия</u></span>
        </label>
        <b-button pill type="submit" variant="system">Регистрация</b-button>
      </b-form>
    </div>
    <div class="image no-control login" v-if="login">
      <img
        :src="require('@/assets/upload/account.png')"
        :srcset="require('@/assets/upload/account@2x.png') + ' 2x'"
      />
    </div>
    <div class="image no-control" v-if="register">
      <img
        :src="require('@/assets/upload/register.png')"
        :srcset="require('@/assets/upload/register@2x.png') + ' 2x'"
      />
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import { required, email } from "vuelidate/lib/validators";

export default {
  props: {
    register: {
      type: Boolean,
      default: false,
    },
    login: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      email: "",
      password: "",
      first_name: "",
      last_name: "",
      rules: false,
    };
  },
  validations() {
    if (this.login) {
      return {
        email: {
          required,
          email,
        },
        password: {
          required,
        },
      };
    } else if (this.register) {
      return {
        email: {
          required,
          email,
        },
        first_name: {
          required,
        },
        last_name: {
          required,
        },
      };
    }
  },
  methods: {
    register_user(e) {
      e.preventDefault()
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.$notify({
          group: "logs",
          text: "Пожалуйста, укажите корректные данные",
        });
      } else {
        if (this.rules) {
          this.registerExpress({
            email: this.email,
            first_name: this.first_name,
            last_name: this.last_name,
          }).then((res) => {
            if (res.user) {
              this.$router.push("/accounts");
            } else {
              this.$notify({
                group: "logs",
                text: "Пожалуйста, укажите корректные данные",
              });
            }
          });
        } else {
              this.$notify({
                group: "logs",
                text: "Пожалуйста, подтвердите согласие с условиями",
              });
            }
      }
    },
    login_user(e) {
      e.preventDefault()
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.$notify({
          group: "logs",
          text: "Пожалуйста, проверьте введенные данные",
        });
      } else {
        this.loginUser({
          email: this.email,
          password: this.password,
        }).then((res) => {
          if (res.err === null) {
            this.$router.push("/accounts");
          } else {
            this.$notify({
              group: "logs",
              text: "Пожалуйста, проверьте введенные данные",
            });
          }
        });
      }
    },
    ...mapActions({
      registerExpress: "user/REGISTER_EXPRESS_USER",
      loginUser: "user/LOGIN_USER",
    }),
  },
};
</script>

<style lang="scss" scoped>
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #3975c7;
  margin: 0 0 14px;
}

form {
  width: 252px;

  input {
    margin-bottom: 25px;

    &:nth-child(1) {
      grid-area: first_name;
    }
    &:nth-child(2) {
      grid-area: last_name;
    }
    &:nth-child(3) {
      grid-area: email;
    }
  }

  .checkbox {
    grid-area: rules;
  }
  button {
    width: fit-content;
    grid-area: button;
  }

  &.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 25px;
    grid-template-areas:
      "first_name last_name"
      "email email"
      "rules rules"
      "button button";
  }
}

.image {
  padding-right: 15px;

  img {
    display: block;
  }

  &.login {
    transform: translateY(45px);
  }
}
</style>