<template>
  <b-container class="invoices">
    <b-row>
      <b-col cols="12" md="10" lg="8" xl="8" class="ml-auto mr-auto">
        <invoice-message error :messages="messages">
            <b-button pill variant="system" @click="$router.push(`/invoice/${order}/form`)">Попробовать еще раз</b-button>
        </invoice-message>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  async asyncData({ $axios, params, store }) {
    const invoice = await $axios.$get(`/api/app/invoice/${params.id}`);
    const order = params.id;
    store.dispatch("accounts/GET_ALL_ACCOUNTS");
    return { invoice, order };
  },
  data() {
    return {
      messages: [
        {
          text:
            "Произошла ошибка при переводе. Возможно у вас недостаточно средств",
        },
      ],
    };
  },
  middleware: 'noauth',
};
</script>

<style lang="scss" scoped>
.invoices {
  padding-top: 75px;
}
</style>