<template>
  <b-container class="invoices">
    <b-row>
      <b-col class="ml-auto mr-auto" cols="12" md="8" lg="6" xl="5">
        <invoice :isuser="auth" v-bind="invoice" :order="order" />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  async asyncData({ $axios, params, store }) {
    const invoice = await $axios.$get(`/api/app/invoice/${params.id}`);
    const auth = await $axios
      .$get(`/api/app/user`)
      .then(() => {
        return true;
      })
      .catch(() => {
        return false;
      });
    const order = params.id;
    return { invoice, order, auth };
  },
  mounted () {
    this.$nuxt.$on('UPDATE_AUTH', () => {
      this.update_auth()
    })
  },
  methods: {
    ...mapActions({
      update_accounts: 'accounts/GET_ALL_ACCOUNTS'
    }),
    async update_auth() {
      const auth = await this.$axios
      .$get(`/api/app/user`)
      .then(() => {
        this.update_accounts();
        setTimeout(() => {
          this.auth = true;
        }, 300);
      })
      .catch(() => {
        this.auth = false;
      });
    }
  },
};
</script>

<style lang="scss" scoped>
.invoices {
  padding-top: 75px;
}
</style>