<template>
  <b-container class="invoices">
    <b-row>
      <b-col cols="12" md="10" lg="8" xl="8" class="ml-auto mr-auto">
        <invoice-message success :messages="messages">
          <b-button
            pill
            variant="system"
            @click="$router.push(`/invoice/${order}/form`)"
            >Вернуться на сайт продавца</b-button
          >
        </invoice-message>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  async asyncData({ $axios, params, store }) {
    const invoice = await $axios.$get(`/api/app/invoice/${params.id}`);
    const order = params.id;
    const messages = [
      {
        text: `Пополнен счет ${invoice.payerAccount.accountId} на сумму ${(invoice.payerAccountIncrementAmount / 100).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,")} ${invoice.currency}`,
      },
      {
        text:
          `Совершен перевод средств продавцу на счет ${invoice.merchantAccount.accountId} на сумму ${(invoice.amount / 100).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,")} ${invoice.currency}`,
      },
    ];
    store.dispatch("accounts/GET_ALL_ACCOUNTS");
    return { invoice, order, messages };
  },
  middleware: "noauth",
};
</script>

<style lang="scss" scoped>
.invoices {
  padding-top: 75px;
}
</style>